<nav tabindex="-1" class="drawer">
  <button data-action="open-drawer" id="drawer-button" class="drawer-button"><i class="fa fa-bars"></i></button>
  <div class="drawer-container">
    <!--.drawer-search(role="search")-->
    <ul role="navigation" class="drawer-list">
      {{> custom/navigation this}}
    </ul>
  </div>
</nav>
